name: Music Assistant (BETA)
version: 2.8.0b12
slug: music_assistant_beta
description: BETA version of the Music Assistant Server (built from source).
url: https://music-assistant.io
arch:
  - amd64
  - aarch64
homeassistant_api: true
discovery:
  - music_assistant
audio: true
auth_api: true
host_network: true
ingress: true
ingress_port: 8094
panel_icon: mdi:play-circle
panel_title: Music Assistant
panel_admin: false
uart: false
apparmor: true
map:
  - media:rw
  - ssl:ro
init: false
advanced: false
backup_exclude:
  - cache.db
  - collage_images/*
  - .cache/*
stage: stable
tmpfs: true
options:
  log_level: info
  server_repo: "lukaszwawrzyk/mass-server@img-cache-fix"
  safe_mode: false
schema:
  log_level: list(debug|info|warning|error)
  server_repo: str?
  safe_mode: bool
privileged:
  - SYS_ADMIN
  - DAC_READ_SEARCH
